

.form{
	
	float: left;
    width: 80%;
    margin: 5% 0 10% 20%;
	
	
}
.box-form{
		width:100%;
		float:left;	
}

 .form h3 {
	 
	 font-family: verdana;
	 font-size: 83%;
	 margin: 0px 0px 25px 10% ;
	 font-weight: bolder;
	 
 }

 .nome {
	 
	 font-family: verdana;
	 font-size: 20px;
	 margin: 0 65% 0 0;
	 
 }
 
 .mensagem{
	  
	  width: 78%;
	  height:200px;
	  margin: 0px 20px 20px 0;
	  border: 1px solid;
	  color: BlueViolet;
	 
	 
 }

textarea {
    padding: 10px;
    display: block;
    width: 70%;
}

.text{
	  
	  width: 80%;
	  height:30px;
	   border: 1px solid;
	  color: BlueViolet;
	  margin: 0px 17% 20px 0;
	 
 }


.enviar{
	
	width: 76px;
    height: 30px;
	background-color: BlueViolet;
	border-radius: 5px;
	font-weight: bolder;
	margin: 2% 100% 3% 0;
	color: white;
}

.limpar{
	width: 76px;
    height: 30px;
	border-radius: 5px;
	font-weight: bolder;
	
}